[submodule "supreme-erp-fe"]
	path = supreme-erp-fe
	url = https://github.com/shiplightstudio-cmd/supreme-erp-fe.git
	
[submodule "supreme-erp-be"]
	path = supreme-erp-be
	url = https://github.com/shiplightstudio-cmd/supreme-erp-be.git

[submodule "supreme-erp-storefront"]
	path = supreme-erp-storefront
	url = https://github.com/shiplightstudio-cmd/supreme-storefront.git
	
[submodule "supreme-erp-accounting"]
	path = supreme-erp-accounting
	url = https://github.com/shiplightstudio-cmd/supreme-erp-accounting.git

[submodule "supreme-erp-n8n"]
	path = supreme-erp-n8n
	url = https://github.com/shiplightstudio-cmd/supreme-erp-n8n.git
